<!DOCTYPE html>
<html>
<title>로그아웃</title>
<head>
    <script language='javascript'>

      function logOut() {
        try{
          var arrPop = parent.coreData.arrPop;
          for(i=0; i<arrPop.length; i++){
            if(arrPop[i] && !arrPop[i].closed){
              arrPop[i].close();
            }
          }
        }catch(err){}


        var url = location.protocol+"//sugang-fake.khunet.net/";
        if(window.opener){
          opener.top.location.href = url;
          window.close();
        }else{
          top.location.target = "_self";
          top.location.href = url;
        }

      }
    </script>
</head>

<body onLoad="logOut()">

<form name="form">
</form>
</body>
</html>
